{
  "$schema": "https://opencode.ai/config.json",
  "theme": "opencode",
  // "theme": "catppuccin",
  "provider": {},
  // "small_model": "openrouter/x-ai/grok-4-fast:free",
  // "model": "openrouter/x-ai/grok-4-fast:free",
  // "model": "anthropic/claude-sonnet-4-20250514",
  "model": "zai-coding-plan/glm-4.7",
  "small_model": "zai-coding-plan/glm-4.5-air",
  // "model": "github-copilot/claude-sonnet-4.5",
  // "small_model": "github-copilot/claude-haiku-4.5",
  "permission": {
    "bash": "allow",
    "edit": "allow",
    "webfetch": "allow"
  },
  "agent": {
    // "build": {
    //   "mode": "primary",
    //   "model": "openrouter/x-ai/grok-4-fast:free",
    //   "prompt": "{file:./prompts/build.md}",
    //   "tools": {
    //     "write": true,
    //     "edit": true,
    //     "bash": true,
    //     "read": true,
    //     "grep": true,
    //     "glob": true
    //   }
    // },
    // "ask": {
    //   "mode": "subagent",
    //   "model": "openrouter/x-ai/grok-4-fast:free",
    //   "prompt": "{file:./prompts/ask.md}",
    //   "tools": {
    //     "write": false,
    // <LeftMouse>   "edit": false,
    //     "bash": false
    //   }
    // },
    // "plan": {
    //   "mode": "primary",
    //   "model": "openrouter/x-ai/grok-4-fast:free",
    //   "tools": {
    //     "write": false,
    //     "edit": false,
    //     "bash": false
    //   }
    // }
  },
  "mcp": {
    "zread": {
      "type": "remote",
      "url": "https://api.z.ai/api/mcp/zread/mcp",
      "headers": {
        "Authorization": "Bearer {env:Z_AI_API_KEY}"
      }
    },
    "web-reader": {
      "type": "remote",
      "url": "https://api.z.ai/api/mcp/web_reader/mcp",
      "headers": {
        "Authorization": "Bearer {env:Z_AI_API_KEY}"
      }
    },
    "web-search-prime": {
      "type": "remote",
      "url": "https://api.z.ai/api/mcp/web_search_prime/mcp",
      "headers": {
        "Authorization": "Bearer {env:Z_AI_API_KEY}"
      }
    },
    "zai-mcp-server": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@z_ai/mcp-server"
      ],
      "environment": {
        "Z_AI_MODE": "ZAI"
      }
    },
    "context7": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@upstash/context7-mcp"
      ],
      "enabled": true
    },
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest"
      ],
      "enabled": true
    }
  }
}
