[window]
opacity = 0.95
blur = true
option_as_alt = "Both"

[mouse]
hide_when_typing = false

[font]
{{ if eq .chezmoi.os "darwin" }}
size = 14
{{ else }}
size = 11
{{ end }}

[keyboard]
bindings = [
  { key = "Return", mods = "Shift", chars = "\u001b\r" },
  { key = "N", mods = "Control|Shift", action = "CreateNewWindow" }
]
